{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<li class="breadcrumb-item"> <a href="/">Home</a> </li>
<li class="breadcrumb-item"> <a href="{% url 'company' company.pk %}">{{company.name}}</a></li>
<li class="breadcrumb-item active"> Nová cenová nabídka </li>
{% endblock %}

{% block content %}
    
        {% csrf_token %}
        {% crispy form %}
       
    
{% endblock %}

{% block scripts %}
    <script>    
        $("#id_parts").select2();
    </script>    
{% endblock %}